[package]
name = "lethe_cli"
version = "0.1.0"
edition = "2024"

[dependencies]
lethe_core = { path = "../lethe_core" }
clap = { version = "4.4", features = ["derive"] } # Command line argument parser
rpassword = "7.0" # Secure password input
anyhow = "1.0"
